

body {
    background-color: pink;
    text-align: center;
    font-family: "Google Sans", sans-serif;
    box-sizing: border-box;
    font-size: 14px;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: var(--surface-primary) 1px solid;
    border-radius: 12px;
    background-color: var(--white);
    padding: 48px;
}

button {
    background-color: var(--surface-green);
    border: 1px solid var(--surface-primary);
    padding: 8px 12px;
    border-radius: 8px;
    color: var(--text-inverse)
}

