.unit-toggle {
    position: relative;
    display: flex;
    background-color: var(--bg-secondary);
    border-radius: 100px;
    margin: 1rem 0;
    font-weight: 700;
    overflow: hidden;
    width: 200px;
    padding: 6px;
    text-align: center;
    justify-content: center;
    align-items: center;
    <<<<<<< HEAD gap: 4px;
    border: 1px solid var(--surface-border);
    =======gap: 0;
    >>>>>>>59c0789 (added save funcitonality)
}

/* Slider behind buttons */
.unit-toggle .slider {
    position: absolute;
    top: 4px;
    bottom: 4px;
    left: 4px;
    width: 50%;
    background-color: var(--primary);
    border-radius: 100px;
    transition: transform 200ms ease-in-out;
    z-index: 0;
}

/* Slide depending on unit */
.unit-toggle .slider.metric {
    transform: translateX(0%);
}

.unit-toggle .slider.imperial {
    transform: translateX(calc(100% - 8px));
}

/* Buttons */
.unit-toggle button {
    cursor: pointer;
    font-weight: 600;
    transition: color 0.2s;
    width: 100px;
    background-color: transparent;
    border: none;
    border-radius: 100px;
    color: var(--text-secondary);
    position: relative;
    z-index: 1;
    padding: 8px 12px;
    font-size: 13px;
}

.unit-toggle button:hover {
    background-color: var(--primary-alpha);
}

.unit-toggle button.active:hover {
    background-color: var(--primary);
}


/* Active button text color */
.unit-toggle button.active {
    color: var(--text-inverse);
}